[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
amqp = "*"
arrow = "*"
asn1crypto = "*"
async-timeout = "*"
attrs = "*"
awscli = "*"
bcrypt = "*"
beautifulsoup4 = "*"
billiard = "*"
bleach = "*"
blinker = "*"
boto3 = "*"
botocore = "*"
cachetools = "*"
celery = {version = "*", extras = ["redis"]}
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
click-datetime = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
colorama = "*"
defusedxml = "*"
deprecated = "*"
dnspython = "*"
docopt = "*"
docutils = "*"
eventlet = "*"
flask = "*"
flask-bcrypt = "*"
flask-marshmallow = "==0.14.0"
flask-migrate = "*"
flask-redis = "*"
flask-sqlalchemy = {version = "*", ref = "aa7a61a5357cf6f5dcc135d98c781192457aa6fa", git = "https://github.com/pallets-eco/flask-sqlalchemy.git"}
gunicorn = {version = "*", extras = ["eventlet"], ref = "1299ea9e967a61ae2edebe191082fd169b864c64", git = "https://github.com/benoitc/gunicorn.git"}
iso8601 = "*"
itsdangerous = "*"
jsonschema = {version = "*", extras = ["format"]}
lxml = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
notifications-python-client = "*"
oscrypto = "*"
psycopg2-binary = "*"
pyjwt = "*"
python-dotenv = "*"
sqlalchemy = "==1.4.40"
werkzeug = "*"
# gds metrics packages
prometheus-client = "*"
gds-metrics = {version = "*", ref = "6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72", git = "https://github.com/alphagov/gds_metrics_python.git"}
packaging = "*"
notifications-utils = {editable = true, ref = "main", git = "https://github.com/GSA/notifications-utils.git"}
newrelic = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
isort = "*"
moto = "*"
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-xdist = "*"
freezegun = "*"
requests-mock = "*"
jinja2-cli = {version = "*", extras = ["yaml"]}
pip-audit = "*"
bandit = "*"
honcho = "*"
cloudfoundry-client = "*"

[requires]
python_version = "3.9"
