SECRET_KEY: "dev-notify-secret-key" # pragma: allowlist secret
DANGEROUS_SALT: "dev-notify-salt"

ADMIN_BASE_URL: https://notifications-admin.app.cloud.gov
ADMIN_CLIENT_ID: notify-admin
ADMIN_CLIENT_SECRET: dev-notify-secret-key
API_HOST_NAME: https://notifications-api.app.cloud.gov
AWS_PINPOINT_REGION: us-west-2
AWS_REGION: us-west-2
AWS_US_TOLL_FREE_NUMBER: 18446120782
DANGEROUS_SALT: dev-notify-salt
DVLA_EMAIL_ADDRESSES: []
FIRETEXT_API_KEY: placeholder
FIRETEXT_INBOUND_SMS_AUTH: {}
FIRETEXT_INTERNATIONAL_API_KEY: placeholder
FLASK_APP: application.py
FLASK_ENV: production
INTERNAL_CLIENT_API_KEYS: '{"notify-admin":["dev-notify-secret-key"]}'
MMG_API_KEY: placeholder
MMG_INBOUND_SMS_AUTH: {}
MMG_INBOUND_SMS_USERNAME: {}
NOTIFICATION_QUEUE_PREFIX: prototype_10x
NOTIFY_APP_NAME: api
NOTIFY_EMAIL_DOMAIN: dispostable.com
NOTIFY_ENVIRONMENT: live
NOTIFY_LOG_PATH: /home/vcap/logs/app.log
ROUTE_SECRET_KEY_1: dev-route-secret-key-1
ROUTE_SECRET_KEY_2: dev-route-secret-key-2
SECRET_KEY: dev-notify-secret-key
STATSD_HOST: localhost
